<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link href="https://fonts.googleapis.com/css?family=Niramit" rel="stylesheet">
</head>
<body>
  
  <h2 style="text-align: center;"> Product Review </h2>
  
  <div class="align">
  <%if logged_in?%>
    <form action="/session" method="post">
    <input type="hidden" name="_method" value="delete">
    logged in "<%= current_user.name %>"
    <button class="btn btn-info" style="margin: 0;">log out</button>
    </form>
  <%else%>

  <%end%>
  </div>

  <%= yield %>

</body>
</html>