<h3 id="bold">My products</h3>

<div class="wrap">
    <%@products.each do |product|%>
        <div class="each-product">
        <p><%=product.name%></p>
        <a href="/products/<%= product.id %>"><img src="<%=product.image_url%>"></a>
        </div>
    <%end%>
</div>