<h3>shoes detail</h3>

<form action="/products" method="post">

    <label for="">name</label>
    <input name="name" type="text">

    <label for="">image_url</label>
    <input name="image_url" type="text">

    <label for="">price</label>
    <input name="price" type="text">

    <button>submit</button>
    
</form>