<link rel="stylesheet" type="text/css" href="/stylesheets/products.css"> 

<h2 id="bold">Product list</h2>
<div class="list">
<% @products.each do |product| %>
  <a class="products" href="/products/<%= product.id %>">
    <p><img src="<%= product.image_url %>"></p>
    <p class="product-name"><%= product.name %></p>
  </a>
<%end%>
</div>



