<h3>SIGN UP</h3>

<form action="/sign_up" method="post">

    <%# <input type="hidden" method="_method" value="put"> %>

    <label for="">name</label>
    <input type="text" name="name">

    <label for="">email</label>
    <input type="text" name="email">

    <label for="">password</label>
    <input type="password" name="password">

    <button>sign up</button>


</form>