body {
    /* background: linear-gradient(to right, #ffafbd, #ffc3a0); */
    background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url('../images/imani-clovis-547617-unsplash.jpg');
    background-size: cover;
    font-family: 'Old Standard TT', serif;
}

.align {
    text-align: right;
}

img {
    width:250px;
    height:200px;
}

.nav-link {
    color: rgba(255,255,255,.5);
}

.fas {
    color: yellow;
}

.product-name {
    color: black;
}

.product-name:hover {
    text-decoration: none;
}

.wrap {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

.each-product {
    margin-right: 20px;
}

#bold {
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}
