body {
    /* background: linear-gradient(to right, #ffafbd, #ffc3a0); */
    background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url('../images/imani-clovis-547617-unsplash.jpg');
    background-size: cover;
    font-family: 'Niramit', sans-serif;
}

.align {
    text-align: right;
}

img {
    width:250px;
    height:200px;
}

.products {
    margin: 0 10px;
}

.nav-link {
    color: rgba(255,255,255,.5);
}

.fas {
    color: yellow;
}