
.bold {
    font-weight: bold;
    margin: 20px;
}

.product-info {
    display: flex;
    justify-content: center;
}

.card {
    width: 21rem;
    border-radius: 20px;
    margin: 20px;
}

img {
    width: 200px;
    height: 200px;
}

div {
    text-align: center;
}

.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}

.description_container {
    margin: 0 auto;
    width: 300px;
}

.oneline-editbtn-deletebtn {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#edit-btn {
    margin-right: 10px;
}

