img {
    width: 200px;
    height: 200px;
}

div {
    text-align: center;
}

.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}

.description_container {
    margin: 0 auto;
    width: 300px;
}
